﻿@using LiveChat.Data.Entities.Identity;
@using Microsoft.AspNetCore.Identity;

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
@*@if (SignInManager.IsSignedIn(User)) *@

@if (User!.Identity!.IsAuthenticated)
{
    <li class="nav-item">
        <a  class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>
    </li>
    <li class="nav-item">
        <form class="form-inline" asp-route="Logout" method="post" >
            <button  type="submit" class="nav-link btn btn-link text-dark">Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-route="Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-route="Login">Login</a>
    </li>
}
</ul>
