﻿@{
    
}

@model LiveChat.Models.Auth.LoginVM

<form method="post" asp-route="login-submit">
    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

    <div class="form-group">
        <label asp-for="UserName" class="control-label"></label>
        <input asp-for="UserName" class="form-control" />
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Password" class="control-label"></label>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

@*    <div class="checkbox mb-3">
        <label>
            <input asptype="checkbox" value="remember-me"> Remember me
        </label>
    </div>*@

    <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
    <p class="mt-5 mb-3 text-body-secondary"></p>
</form>