﻿@{
    ViewData["Title"] = "LiveChat";
}


@using LiveChat.Data.Entities
@using LiveChat.Models;
@using LiveChat.Services;
@model SendMessageInputVM
@inject MessageService messageService;

<div>
    <form method="post" asp-route="send-message">
        <div class="form-group">
            <input asp-for="Content" class="form-control" />
            <span asp-validation-for="Content" class="text-danger"></span>
        </div>

        <button class="w-100 btn btn-lg btn-primary" type="submit">Send</button>
        <p class="mt-5 mb-3 text-body-secondary"></p>
    </form>
</div>

<br/>

<div id="messages" class="text-center">
    @foreach (var message in (await @messageService.GetMessagesAsync(new CancellationToken(), true)))
    {      

        <div class="msg"> 
            <div class="msg-header">@message.SenderName</div>
            <div class="msg-body">@message.Content</div>
            <div class="msg-footer">@message.TimeSent</div>
        </div>

    }
</div>

<script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
@*<script src="~/lib/moment/moment.js"></script>*@
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment-with-locales.min.js"></script>


<script src="~/js/chathub.js"></script>



@*<html>

<head>
    <title>Chat Box UI Design</title>
    <link rel="stylesheet" href="styles.css">


    <!-- Import this CDN to use icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
</head>
<body>*@