﻿
.msg {

}

.msg-header {

}

.msg-body {
    border: 1px solid #ccc;
    width: 100%;
    height: 10%;
    border-bottom: none;
    display: inline-block;
    background-color: lightblue;
    margin: 0;
/*    border-top-left-radius: 20px;
    border-top-right-radius: 20px;*/
    bor
}

.msg-footer {

}